<%- include("partials/header"); -%>
<style>
  a {
    text-decoration: none;
  }
  .blog-header-logo {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000;
    transition: transform 0.5s;
  }
  .blog-header-logo:hover {
    transform: translateY(-10px);
    -webkit-text-fill-color: #3e4141;
    z-index: 2;
  }
</style>
<div class="row mb-2">
  <% blogCard.forEach(function(blog){ %>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><%=blog.category %></strong>
          <h3 class="mb-0"><%=blog.title %></h3>
          <div class="mb-1 text-muted">2022 Nov 12</div>
          <p class="card-text mb-auto"><%blog.content %></p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
 <% }); %>
  </div>
<%- include("partials/footer"); -%>